<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Access Record</title>
    <link rel type = "stylesheet" src = "{%static 'css/style.css'%}"/>
</head>
<body>
    {% if access_record%}
    <table>
        <thead>
            <th> Webpage</th>
            <th> Access Date </th>
         </thead>
        {%for record in access_record %}
        <tr>
        <td>
            {{record.name}}
        </td>
        <td>
            {{record.date}}
        </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>Record Not Found</h3>
    
    {% endif %}
</body>
</html>